<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    
    <input ng-model="volume" ng-change="setVolume(volume)" />
    <input type="button" value="update playlist" ng-click="updatePlaylist(uid)">
    <input type="button" value="play ailab mp3" ng-click="playAILabMp3(uid)">
    {{uid}}
    <ul ng-repeat="story in storyList">
      <li > 
        <input type="checkbox" ng-model="story.checked"> <span ng-click="play(story)">{{story.title}}</span>
      </li>
    </ul>
  </ion-content>
</ion-view>
